
:root {
   --color: #493333;
   --bgColor: #EAEAEA;
   --bgColorSec: #333333;
   --colorDistinct: #2690D4;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
     box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color);
  background-color: var(--bgColor);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  text-shadow: 0, 2px, 0 rgba(0,0,0, .07);
  -webkit-overflow-scrolling: touch;   
  overflow-y: scroll; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}
p {
  line-height: 1.55;
  text-align: center; 
  font-weight: 500;
  font-size: 1.8rem;
}

small {
 font-size: 1.5rem;
}

a {
  text-decoration: none;
  margin: 0;
  font-weight: 300;
  color: #ddd;
}

a:hover,
a:focus {
  color: orange;
}

li {
  list-style-type: none;
}

img {
 vertical-align: middle;
 padding: 10px;
 width: 100%;
 max-width: 100%;
 height: auto;
}


blockquote {
 position: relative;
 font-weight: bold;
 border-top: 1px dashed #cacaca;
 border-bottom: 1px dashed #cacaca;
 text-align: left;
 line-height: 1.6em;
 font-size: 100%;
 padding: 20px 5em;
}

blockquote:before {
 content: "\201c";
 position: absolute;
 left: 30px;
 color: #ededed;
 font-size:  10rem; 
 top: 50px;
}

#header_section {
  min-height: 450px;  
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url(../img/visualStudio.jpg);
  position: relative;
}
header .hero_text {
  padding: 100px 0;
  color: var(--bgColor);
  z-index: 2;
}
.btn {
  background: var(--bgColorSec);
  color: var(--bgColor);
  border: 1px solid var(--bgColor);
  font-size: 100%;
  font-weight: bold;
  padding: 20px 4rem;
  margin-top: 20px;
}
.btn:hover,
.btn:focus {
  background: var(--bgColor);
  border-color: var(--bgColorSec);
  color: var(--bgColorSec);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #222;
  opacity: .8;
  width: 100%;
  max-width: 100%;
  min-height: 450px;
  z-index: 1;
}
p.tagline {
  margin: 0;
  padding: 0;
  font-style: oblique;
}
main > section {
  padding: 35px 0;
}
.alt_bgcolor {
  background-color: var(--bgColorSec);
  color: var(--bgColor);
}
.grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.section {
 grid-template-rows: auto auto;
  grid-template-areas: "heading" 
                       "text" ;
  grid-gap: 1em;
}

.section h2,
.section h2 {
  grid-area: heading;
  grid-column: 2/ span 1;
}

.section p,
.section p {
  grid-area: text;
  grid-column: 2/span 1;
}

.section_second {
  grid-template-areas: item_wrapper;
}
.items_wrapper {
  grid-column: 2 /span 1;
  grid-area: item_wrapper;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_item {
  background-color: #fff;
  color: var(--color);
  width: 20%;
  min-height: 440px;
  margin-right: 2%;
  margin-bottom: 3rem;
  padding: 10px;
}

.section_item:last-of-type {
  margin-right: 0;
}

footer {
  min-height: 50px;
  display: flex;
  align-items: center;
}
footer .copy,
footer .designed  {
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-left: 20px;
}

.copy span {
  margin-left: 5px;
}
.section_contact {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "heading"
                          "text"
                          "form";
                         
    grid-template-rows: auto auto auto;

}
.section_contact h2 {
  grid-area: heading;
  grid-column: 2/span 1;
}
.section_contact p {
  grid-area: text;
  grid-column: 2/span 1;
}
.section_contact .section_form{
  grid-area: form;
  grid-column: 2/ span 1;
}
.section_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

.form-item {
  display: flex;
  padding: .5rem 0;
}
.form-item p {
  font-weight: bold;
}
.form-item__first,
.form-item__second {
  flex: 1;
  display: flex;
}
 .form-item__first  {
   justify-content: flex-end;
   align-items: center;
   padding: 1rem 3rem;
 }

.form-item__second {
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  flex-direction: column;
  display: flex;
}

textarea,
input,
select {
  border: 1px solid var(--color);
  border-radius: 5px;
  padding: 1rem;
  width: 80%;
  
}
input[type="submit"] {
  width: 20%;
}

textarea:focus,
input:focus,
select:focus,
textarea:active,
input:active,
select:active {
  border: 2px solid var(--surveyDanger);
}
label {
  margin-bottom: 1rem;
  
}
label:last-of-type {
  margin-bottom: 0;
}
.fine {
  color: var(--surveyDanger);
  font-size: 70%;
  padding: .5rem 1.5rem;
  text-align: center;
  font-style: oblique;
}

.submit-btn {
  background-color: var(--colorDistinct);
  color: var(--bgColor);
  font-size: 100%;
  padding: 1.5rem;
  display: block;
  margin: 0 auto;
}
.submit-btn:hover,
.submit-btn:focus {
  color: var(--bgColor);
  background-color:var(--color);
}
span.aster {
  color: var(--surveyDanger);
}
.fine .aster {
  font-size: 2rem;
  font-weight: 900;
}

.checkbox-section,
.radio-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.checkbox-section input,
.radio-section input {
  flex: 1;
  padding: 0;
  margin: 0;
}
.checkbox-section label,
.radio-section label {
  flex: 4;
  padding: 0;
  margin: 0 5px;
  font-size: 100%;
}

@media screen and (max-width: 975px) {

  .section_item {
    width: 50%;
    margin-right: 0;
  }
  .items_wrapper {
    flex-direction: column;
    min-width: 330px;
  }
  footer  .copy{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .section {
    grid-template-rows: auto auto;
     grid-template-areas: "heading" 
                          "text" ;
     grid-gap: 1em;
   }

}

@media screen and (max-width: 600px) {

  .grid {
    grid-template-columns: 1fr 5fr 1fr;
  }
  .section_item {
    width: 80%;
  }
  h2 {
    font-size: 2.3rem;
  }


}